<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Start time</th>
        <th scope="col">End time</th>
        <th scope="col">Treatment</th>
        <th scope="col">Operation</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Hannah Smith</td>
        <td>Eyes are sore and red</td>
        <td>10/15/2020</td>
        <td>10/15/2020</td>
        <td>ongoing</td>
        <td>remove</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Hannah Smith</td>
        <td>Eyes are sore and red</td>
        <td>10/15/2020</td>
        <td>10/15/2020</td>
        <td>ongoing</td>
        <td>remove</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Hannah Smith</td>
        <td>Eyes are sore and red</td>
        <td>10/15/2020</td>
        <td>10/15/2020</td>
        <td>ongoing</td>
        <td>remove</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Hannah Smith</td>
        <td>Eyes are sore and red</td>
        <td>10/15/2020</td>
        <td>10/15/2020</td>
        <td>ongoing</td>
        <td>remove</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Hannah Smith</td>
        <td>Eyes are sore and red</td>
        <td>10/15/2020</td>
        <td>10/15/2020</td>
        <td>ongoing</td>
        <td>remove</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Hannah Smith</td>
        <td>Eyes are sore and red</td>
        <td>10/15/2020</td>
        <td>10/15/2020</td>
        <td>ongoing</td>
        <td>remove</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Hannah Smith</td>
        <td>Eyes are sore and red</td>
        <td>10/15/2020</td>
        <td>10/15/2020</td>
        <td>ongoing</td>
        <td>remove</td>
    </tr>