<div class="container-fluid">
    <div class="row">
      <div class="col-1" style="background-color:darkblue;">
        <app-side-bar></app-side-bar>
      </div>
  
      <div class="col-11" style="background-color:white;">
        <app-nav-bar></app-nav-bar>
  
        <!--
        buttons 
        -->
        <div class="row">
          <div class="container-fluid col-12" style="background-color: lightgrey;" >
            <app-patient-card></app-patient-card>
  
            <div class="container-fluid row pt-4 " style="height: 100px;">
              <h2 class="col-11">Data Analysis</h2>
              <form class="col-1">
                <button (click)="addInfo()" class="btn btn-warning navbar-btn">Add Information</button>
              </form>
            </div>
  
  
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-6 col-md-12 p-4">
                    <app-data-analysis></app-data-analysis>
                </div>
                <div class="col-lg-6 col-md-12 p-4">
                    <app-data-analysis></app-data-analysis>
                </div>
              </div>
            </div>
  
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-6 col-md-12 p-4">
                    <app-data-analysis></app-data-analysis>
                </div>
                <div class="col-lg-6 col-md-12 p-4">
                    <app-data-analysis></app-data-analysis>
                </div>
              </div>
            </div>
  
          </div>

          <!-- <div class="hidden-lg container-fluid col-3" style="background-color:darkgreen;">
          </div> -->

        </div>
  
  
        
  
      </div>
    </div>
  
  </div>