<div class="mainWrapper row">
    <div class="contentWrapper col-10 mx-auto mt-5 pt-3">
        <!-- icon -->
        <div class="w-100">
            <img src="../../assets/images/h_icon.png">
        </div>
        <!-- title -->
        <div class="mb-5 pb-5">
            <div class="subtitle mt-3 ml-1">
                Welcome to
            </div>
            <div class="title ml-1">
                PROJECT PUPIL
            </div>
        </div>
        <!-- sign in form -->
        <div class="formWrapper col-4 mt-5 pl-1">
            <form [formGroup]="loginForm" class="form-signin" (ngSubmit)="onSubmit()">
                <label for="inputEmail">Email</label>
                <input type="email" id="inputEmail" class="form-control" required autofocus formControlName="email">
                <mat-error class="text-danger"
                    *ngIf="registerEmailControl.errors && registerEmailControl.errors.required">
                    Email required!
                </mat-error>
                <mat-error class="text-danger" *ngIf="registerEmailControl.errors && registerEmailControl.errors.email">
                    Enter a valid email.
                </mat-error><br>


                <label class="mt-4" for="inputPassword">Password</label>
                <input type="password" id="inputPassword" class="form-control" required formControlName="password">
                <mat-error class="text-danger"
                    *ngIf="registerPasswordControl.errors && registerPasswordControl.errors.required">
                    Password required!
                </mat-error>
                <mat-error class="text-danger"
                    *ngIf="registerPasswordControl.errors && registerPasswordControl.errors.minlength">
                    Password must be at least 8 characters long.
                </mat-error><br>

                <button class="btn btn-lg btn-primary round btn-block mt-5" type="submit" [disabled]="!loginForm.valid">Sign
                    in</button>
            </form>
           <!-- sign up -->
            <div class="ml-1 mt-4 pr-0 text">
                Don't have an account?
                <span class=" mt-4 pl-0 ml-0">
                    <button class="signupButton" routerLink="/register">
                        SIGN UP
                    </button>
                </span>
            </div>      
        </div>
    </div>
</div>