
<div class="container">
    <form [formGroup]="loginForm" class="form-signin" (ngSubmit)="onSubmit()">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail">Email Address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus formControlName="email">
        <mat-error class="text-danger" *ngIf="registerEmailControl.errors && registerEmailControl.errors.required">
            Email required!
        </mat-error>
        <mat-error class="text-danger" *ngIf="registerEmailControl.errors && registerEmailControl.errors.email">
            Enter a valid email.
        </mat-error><br>
        
        
        <label for="inputPassword">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required formControlName="password">
        <mat-error class="text-danger" *ngIf="registerPasswordControl.errors && registerPasswordControl.errors.required">
            Password required!
        </mat-error>
        <mat-error class="text-danger" *ngIf="registerPasswordControl.errors && registerPasswordControl.errors.minlength">
            Password must be at least 8 characters long.
        </mat-error><br>
        
        <!-- <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div> -->
        
        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!loginForm.valid">Sing in</button>
    </form>
</div>

<!-- <div>
    <form>
        <div class="input">
            <label>username</label>
            <input type="text" name="username" [(ngModel)]="username">
        </div>
        <div class="input">
            <label>password</label>
            <input type="text" name="username" [(ngModel)]="password">
        </div>
        <div class="input">
            <input type="submit" name="Login" (click)="getValue()">
        </div>
    </form>
</div> -->